# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
auto-save-list
tramp
.\#*

.svn/

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
build/
petesCode/
debug/
build_xc/